// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("../assets/fonts/Roboto-Regular.ttf") format(".ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("../assets/fonts/Montserrat-Bold.ttf") format(".ttf");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url("../assets/fonts/Lato-Regular.ttf") format(".ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url("../assets/fonts/Lato-Bold.ttf") format(".ttf");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url("../assets/fonts/Lato-Italic.ttf") format(".ttf");
    font-weight: bold;
    font-style: italic;
}