@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Bold.ttf");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Italic.ttf");
    font-weight: bold;
    font-style: italic;
}