.nav {
    padding: 10px 0;
    box-shadow: (0px 2px 8px rgba(50, 59, 80, 0.05));

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__options {
        margin-right: 47px;
    }

    &__items {
        display: flex;
        list-style: none;
        text-transform: uppercase;
        margin-top: 11px;
    }

    &__item a {
        color: #282C37;
        font-size: 14px;
        margin-right: 95px;
        font-weight: 500;
    }

    &__item:last-child a {
        margin-right: 30px;
    }

    &__item:nth-child(3) a {
        margin-right: 70px;
    }

    .active {
        font-weight: 700;
    }


    &__icons {
        display: flex;
        justify-content: flex-end;
    }

    &__icons svg {
        margin-left: 24px;
    }

    &__icons svg:hover {
        cursor: pointer;
    }

    &__icons svg:hover path {
        fill: #47CF34;
    }

    &__burger {
        display: none;
    }
}

@media screen and (max-width:$grid-breakpoints-xl) {
    .nav__item a {
        margin-right: 40px;
    }

    .nav__item:nth-child(3) a {
        margin-right: 40px;
    }

    .nav__options {
        margin-right: 10px;
    }
}

@media screen and (max-width:$grid-breakpoints-lg) {
    .nav__item a {
        margin-right: 20px;
    }

    .nav__item:nth-child(3) a {
        margin-right: 20px;
    }

    .nav__options {
        margin-right: 0px;
    }

    .nav_item:last-child a {
        margin-right: 30px;
    }
}

@media screen and (max-width:$grid-breakpoints-md) {
    .nav__burger {
        display: block;
    }

    .nav__options {
        display: none;
    }

    .nav__icons {
        display: none;
    }

    .btn-close {
        font-size: 27px;
        padding: 26px 0 0 22px !important;
    }

    .btn-close:focus {
        box-shadow: none;
    }

    .nav__logo {
        margin: 0 0 0 17px;
    }

    .burger__icons {
        margin-top: 71px;
    }

    .burger__icons svg {
        margin-left: 40px;
    }

    .burger__icons svg:first-child {
        margin-left: 0;
    }

    .navbar-toggler {
        width: 36px;
        height: 36px;
        background: transparent;
        border-radius: 20px;
        margin: 10px 15px 0 0;
    }

    .burger__item {
        margin-bottom: 37px;
    }

    .burger__item a {
        color: #282C37;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }


    .offcanvas {
        --bs-offcanvas-width: 100%;
        transition: transform 0.9s ease-in-out;
        --bs-offcanvas-border-color: unset;

        &-header {
            justify-content: flex-start;
            margin-bottom: 85px;
        }

        &-body {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0;
        }

        &-img {
            margin-bottom: 75px;
        }
    }

}

@media screen and (max-width:$grid-breakpoints-sm) {
    .navbar-toggler {
        margin: 8px 0px 0 0;
    }

    .nav__logo {
        margin: 3px 0 0 1px;
    }
}