.training {
    background-image: url(../assets/media/plan-background.png);
    background-repeat: no-repeat;
    background-position: 119% 7%;
    overflow: auto;
    margin-bottom: 60px;

    &__top {
        margin-top: 51px;
        position: relative;
        z-index: 3;
    }

    &__cube {
        position: absolute;
        top: -13%;
        left: 8%;
        z-index: -1;
    }

    &__block {
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(40, 44, 55, 0.2);
        border-radius: 20px;
        max-width: 1173px;
        display: flex;
        margin-bottom: 37px;
    }

    &__theme {
        margin-left: 38px;
        width: 44%;
        margin-right: 40px;

        h3 {
            font-family: 'Montserrat',
                sans-serif;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            margin: 39px 0 29px 0;
            letter-spacing: 2px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            margin: 0 0 5px 0;
        }
    }

    &__point--text {
        width: 413px;
        line-height: 22px;
        font-size: 17px;
    }

    &__points {
        margin-top: 50px;
    }

    &__point {
        align-items: flex-start;
        margin-bottom: 12px;
        margin-right: 10px;
    }

    &__button {
        display: inline-block;
        margin: 23px 0 39px 0;
        background: #287EE7;
        border-radius: 8px;
        text-transform: uppercase;
        width: 229px;
        padding: 12px 0;
        vertical-align: middle;
        text-align: center;
        color: white;

        img {
            margin: 0 0 0 44px;
        }

        &:hover {
            background: #4B9AFB;
            color: white;
        }
    }
}

.md__button {
    display: none;
}


@media screen and (max-width:$grid-breakpoints-lg) {
    .training__theme {
        margin-left: 20px;

        h3 {
            font-size: 22px;
            line-height: 28px;
            margin: 39px 0 12px 0;

        }
    }

    .training__point .training__point--text {
        width: 270px;
    }
}

@media screen and (max-width:$grid-breakpoints-md) {
    .training {
        background-image: none;

        &__block {
            flex-direction: column;
        }

        &__cube {
            display: none;
        }

        &__theme {
            width: 100%;
            text-align: center;
            margin-left: 0px;

            p {
                width: 92%;
                margin: 0 auto 8px;
            }
        }

        &__points {
            margin-top: 0px;
        }

        &__point {
            justify-content: center;
            margin-bottom: 30px;
            margin-top: 20px;
        }

        &__button {
            display: none;
        }

    }


    .md__button {
        display: block;
        margin: 10px auto 30px;
    }

    .training__point .training__point--text {
        width: 250px;
    }
}

@media screen and (max-width:$grid-breakpoints-sm) {
    .training__point .training__point--text {
        width: 196px;
    }

    .training__theme p {
        font-size: 17px;
        width: 97%;
    }
}