extends foundation 
block content 
    main.info
        include ../components/navigation
        include ../components/infoTop
        include ../components/infoBottom
        include ../components/consult