extends foundation 
block content 
    main.plan
        include ../components/planNavigation
        include ../components/planTop
        include ../components/detailPlan
        include ../components/consult