extends foundation 
block content 
    main.training
        include ../components/trainingNavigation
        include ../components/trainingTop
        include ../components/trainingMiddle
        include ../components/trainingBottom