section.consult
  img.consult__cube--1(src='assets/media/plan-cube-1.png' alt='cube-1')
  img.consult__cube--2(src='assets/media/plan-cube-2.png' alt='cube-2')
  img.consult__cube--3(src='assets/media/plan-cube-3.png' alt='cube-3')
  .container
    form.consult__modal
      input.modal__input.modal__name(type='text' placeholder='Ваше имя')
      input.modal__input.modal__email(type='email' placeholder='Email')
      button#button.modal__button Получить консультацию