- var text = ["Определение маркетинга как технологии роста", "Организация маркетинга как сквозного бизнес-процесса", "Получение практических навыков применения технологии маркетинга"]
section.info__top
  .container
    .plan__intro
      h2.info__title Бизнес-4тренинг «Маркетинг – технология роста»
      img(src='../assets/media/service-cube.png' alt='the cube')
    .training__theme.info__theme
      p Для кого: руководители компаний, маркетологи, продавцы
      p Цели бизнес-тренинга:
    .plan__points.info__points
      each item in text
        .plan__point
          .point__image
            img(src='../assets/media/logo.svg' alt='logo')
          p= item
    .button__div
      button.info__button
        | Подробнее
        img(src='../assets/media/training-button-arrow.png' alt='arrow')