section.navigation
  .container.navigation__inner
    a(href='./index.html') Главная
    span /
    a(href='./index.html#service') Услуги
    span /
    span Разрабатываем маркетинг-план: дорожная карта достижения целей