section.services__all
  .container
    h2.services__title Услуги
    img.services__line(src='../assets/media/service-line.png' alt='service line')
    img.services__cube(src='../assets/media/service-cube.png' alt='service cube')
    .services
      .service__market.service
        a(href='./plan.html')
          object(data='../assets/media/market.svg')
          p Разрабатываем маркетинг-план: дорожная карта достижения целей
      .service__idea.service
        a(href='./plan.html')
          object(data='../assets/media/idea.svg')
          p Повышаем эффективность продвижения: аудит существующей модели
      .service__search.service
        a(href='./plan.html')
          object(data='../assets/media/search.svg')
          p Находим скрытую прибыль: анализ модели ценообразования
      .service__space.service
        a(href='./plan.html')
          object(data='../assets/media/space.svg')
          p Запускаем новый проект: start-up маркетинг